h1{
    color: rgb(255, 0, 106);
}
.review{

    background-color:rebeccapurple
} 
.title{
    color: red
}
table{
    border: 1px
    red
}
tr{
    border: 1px
    rebeccapurple;
    padding: 1px
    red ;
}
